<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <!-----------------弹出框----------------------------->
        <div id="spuSaleAttr_dlg" class="easyui-dialog" title="编辑销售属性" style="width:500px;height:400px;"
             closed="true"  data-options="iconCls:'icon-save',resizable:true,modal:false" buttons="#spuSaleAttrBtns" >
            <br/><br/>
            <!------------------从基本销售属性中选择------------->
            销售属性：  <select name="saleAttr" id="saleAttrSelect"  class="easyui-combobox" data-options="valueField:'id',textField:'name',url:'baseSaleAttrList'" style="width:100px">  </select>
            <br/><br/>


            <!----------------销售属性值列表---------------------------->
            <table id="spuSaleAttrValueDg" class="easyui-datagrid" title="销售属性值列表"
                   data-options="singleSelect:true,method:'get',toolbar:'#spuSaleAttrValueTootbar'" ></table>




            <!----------------销售属性值列表工具栏----------------------->
            <div id="spuSaleAttrValueTootbar" style="padding:5px;height:auto"  >
                <div style="margin-bottom:5px">
                    <a href="#" id="spuSaleAttrValueAddBtn" class="easyui-linkbutton" iconCls="icon-add" onclick="addSpuSaleAttrValue()" plain="true">添加</a>
                    <a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="removeSpuSaleAttrValue()" >删除</a>
                </div>
            </div>


            <div id="spuSaleAttrBtns">
                <a href="#" class="easyui-linkbutton" onclick="saveSpuSaleAttr()">确 定</a>
                <a href="#" class="easyui-linkbutton" onclick="closeSpuSaleAttr()">关 闭</a>
            </div>
        </div>
    </body>

    <script language="JavaScript">

        //关闭页面
        function closeSpuSaleAttr() {
            $("#spuSaleAttr_dlg").dialog("close");
        }

        //保存销售属性值
        function saveSpuSaleAttr() {
            var saleAttrId = $("#saleAttrSelect").combobox("getValue");
            var saleAttrName = $("#saleAttrSelect").combobox("getText");
            var data = $("#spuSaleAttrValueDg").datagrid("getData");
            console.log(JSON.stringify(data));

            $("#spuSaleAttrDg").datagrid("appendRow",{
                saleAttrId:saleAttrId,
                saleAttrName:saleAttrName,
                spuSaleAttrValueJson:data
            });

            $("#spuSaleAttr_dlg").dialog("close");
        }

        //初始化销售属性值列表
       function initSpuSaleAttrDlg() {


           //初始化销售属性表单

           //初始化销售属性值列表
           initSpuSaleAttrValueListDatagrid();
       }

        //初始化销售属性值列表
       function initSpuSaleAttrValueListDatagrid() {

           //行号初始化
           $('#spuSaleAttrValueDg').datagrid('loadData', { total: 0, rows: [] });



           d=$("#spuSaleAttrValueDg").datagrid({
               columns: [[
                   {field: 'id', title: '销售属性值id', width: 100},
                   {field: 'saleAttrValueName', title: '销售属性值名称', width: 100,
                       editor:{
                            type: 'validatebox', options: { required: true}
                       }
                   }
               ]],
               onDblClickRow: function (rowIndex, rowData) {
                   //双击开启编辑行
                   d.datagrid("beginEdit", rowIndex);
                   //设定当失去焦点时,退出编辑状态
                   var saleAttrValueName = rowData.saleAttrValueName;
                   $("input.datagrid-editable-input").val(saleAttrValueName).bind("blur",function(evt){
                       d.datagrid('endEdit',rowIndex);
                   });
               }
           });
       }

       //添加销售属性值行
       function addSpuSaleAttrValue() {
           $("#spuSaleAttrValueDg").datagrid("appendRow",{
               id:"",
               saleAttrValueName:"默认销售属性值"
           });
       }

        //删除销售属性值行
        function removeSpuSaleAttrValue() {
            var row = $("#spuSaleAttrValueDg").datagrid("getSelected");
            var index = $("#spuSaleAttrValueDg").datagrid("getRowIndex",row);
            $("#spuSaleAttrValueDg").datagrid("deleteRow",index);
        }


    </script>
</html>